.sudoku-container {
    width: 531px;
    flex-flow: column;
    background-color: rgb(59, 49, 64);
    margin-left: 5px;

    .sudoku-wrap div:nth-child(-n+8) {
        margin: 3px 0px 0px 3px;
    }
    
    .sudoku-wrap div:last-child {
        margin: 3px 3px 0px 3px;
    }

    .sudoku-wrap:nth-child(-n+3) .sudoku-grid:nth-child(-n+3),
    .sudoku-wrap:nth-child(-n+3) .sudoku-grid:nth-child(n+7),
    .sudoku-wrap:nth-child(n+4):nth-child(-n+6) .sudoku-grid:nth-child(n+4):nth-child(-n+6),
    .sudoku-wrap:nth-child(n+7) .sudoku-grid:nth-child(-n+3),
    .sudoku-wrap:nth-child(n+7) .sudoku-grid:nth-child(n+7) {
        background-color: rgb(255, 255, 255);
    }

    .sudoku-wrap:nth-child(-n+3) .sudoku-grid:nth-child(-n+3):hover,
    .sudoku-wrap:nth-child(-n+3) .sudoku-grid:nth-child(n+7):hover,
    .sudoku-wrap:nth-child(n+4):nth-child(-n+6) .sudoku-grid:nth-child(n+4):nth-child(-n+6):hover,
    .sudoku-wrap:nth-child(n+7) .sudoku-grid:nth-child(-n+3):hover,
    .sudoku-wrap:nth-child(n+7) .sudoku-grid:nth-child(n+7):hover {
        background-color: rgb(255, 247, 237);
        cursor: pointer;
    }

    .sudoku-grid {
        background-color: rgb(255, 247, 237);
        width: 59px;
        height: 59px;
        font-size: 30px;
        text-align: center;
        line-height: 59px;
    
        .mutable {
            color: rgb(63, 127, 255);
        }
        
        .immutable {
            color: rgb(0, 0, 0);
        }
    }

    .sudoku-grid:hover {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }
}

.sudoku-wrap:last-child {
    margin: 0px 0px 3px 0px;
}