.category-container {
    display: flex;
    height: 100%;
    margin: 0 0 5px 5px;
    border-right: 2px solid rgb(32,32,32, 0.5);

    .list-group {
        width: 220px;
        margin-right:5px;

        .list-group-item {
            margin-bottom: 5px;
            font-size: 18px;
        }
    }
}

.list-group-item-action:hover {
    cursor: pointer;
}