.container-fluid {
    display: flex;
    justify-content: center;
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    main {
        background-color: #ffffff;
        width: 1050px;
        min-height: 600px;
        max-height: 600px;
        overflow-y: auto;
    }
    
    .banner1 {
        width: 160px;
        margin-right: 20px;
        min-height: 562px;
        img {
            max-width: 100%;
            height: auto;
        }
        text-align: center;
    }
    
    .banner2 {
        width: 160px;
        margin-left: 20px;
        min-height: 562px;
        img {
            max-width: 100%;
            height: auto;
        }
        text-align: center;
    }

    .main-contents {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 555px;
        margin-top: 5px;
    }
}
